$blue: #1F3F68;
$white: white;
$lightblue: #5A98D0;

*, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: regularfont;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

textarea {
    overflow: hidden;
    resize: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;

    color: $blue;
    opacity: 0.6;
}

.btn {
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 0.04em;
    padding: 15px 48px;
    border-radius: 10px;
    border: none;
    color: $white;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
        background: $blue;
        box-shadow: 5px 10px 20px rgba(90, 152, 208, 0.2);
    }
}

.title {
    color: $blue;
}

.white {
    color: $white;
}

//================================================ Header site ================================================

.header {
    z-index: 2;
    background: $white;
    &__fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    &__contain {
        margin: 40px 83px 40px;
        justify-content: space-between;
    }
    
    // Burger
    
    &__burger {
        background: transparent;
        position: relative;
        border: 0;
        width: 24px;
        height: 14px;
        transition: all 0.5s ease 0s;
        z-index: 3;
        cursor: pointer;
        
        & span {
            position: absolute;
            background-color: #0E6097;
            left: 0;
            width: 100%;
            height: 3px;
            top: 6px;
            transition: all 0.5s ease 0s;
        }
        
        &:before,
        &:after {
            content: '';
            background-color: #0E6097;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            transition: all 0.5s ease 0s;
        }
        
        &:before {
            background-color: #0E6097;
            top: 0;
        }
        
        &:after{
            bottom: 0;
        }
        
        &.active:before{
            background-color: $white;
            transform: rotate(45deg);
            top: 3px;
            transition: all 0.5s ease 0s;
        }
        
        &.active:after {
            background-color: $white;
            transform: rotate(-45deg);
            bottom: 9px;
            transition: all 0.5s ease 0s;
        }
        
        &.active span {
            transform: scale(0);
        }
    
    }
    
    &__wrapper {
        position: relative;
    }

    &__subnav {
        display: block;
        background: $lightblue;
        border-radius: 50px 0px 0px 0px;
        position: absolute;
        top: -40px;
        right: -400px;
        width: 394px;
        height: 840px;
        padding: 100px 50px;
        z-index: 2;
        transition: right 400ms cubic-bezier(0.65, 0.065, 0.675, 0.676);
    }

    &__page, &__page-wrap {
        flex-direction: column;
        align-items:stretch
    }

    // Arrow
    &__wrap {
        position: relative;
        margin-bottom: 20px;
        &__subtitle {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            
        }

        .arrow {
            position: relative;
            cursor: pointer;
            width: 9px;
            height: 3px;
            margin-left: 15px;
        }
        .arrow-left, .arrow-right, .arrow-left:after, .arrow-right:after {
            width: 9px;
            height: 3px;
            display: block;
        }
        .arrow-left {
            position: absolute;
            background-color: transparent;
            top: 0;
            left: 3px;
            transform: rotate(52deg);
            border-radius: 2px;
        }
        .arrow-left:after {
            content: "";
            background: #FFFFFF;
            border-radius: 6px 10px 10px 6px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
            z-index: -1;
        }
        
        .arrow-right {
            position: absolute;
            background-color: transparent;
            top: 0px;
            left: 7px;
            transform: rotate(-54deg);
            border-radius: 2px;
        }
        .arrow-right:after {
            content: "";
            background: #FFFFFF;
            border-radius: 10px 6px 6px 10px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
            z-index: -1;
        }
        .open .arrow-left:after, .open .arrow-left {
            transform-origin: center center;
            transform: rotate(-115deg);
        }
        .open .arrow-right:after, .open .arrow-right {
            transform-origin: center center;
            transform: rotate(115deg);
        }
    }
    

    &__subtitle, &__nav {
        color: $white;
        cursor: pointer;
    }

    &__menu {
        margin-bottom: 32px;
    }

    &__lst {
        max-height: 0;
        margin-top: 16px;
        left: 0;
        top: 100%;
        z-index: 5;
        width: 180px;
        transform: translate(0,-50%)scaleY(0);
        transition: 1s;
    }

    &__item, &__page a {
        margin-top: 16px;
    }
    
    &__page a:hover, &__nav:hover,  &__subtitle:hover {
        font-weight: 600;
    }

    &__nav {
        font-family: normalfont;
    }

    .active-menu {
        max-height: 100vh;
        transform: translate(0,0);
    }
    
    .active-subnav {
        right: 0;
    }

}

//================================================ Section "About" ================================================
.about {
    padding: 50px 293px;
    background: url('../images/Blog.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    margin-bottom: 56px;
    
    &__content{
        text-align: center;
    }
    
    &__title {
        margin-bottom: 16px;
        font-size: 44px;
        line-height: 74px;
        letter-spacing: 0.04em;
    }

    &__dscr {
        font-size: 20px;
        line-height: 30px;

        letter-spacing: 0.04em;
        
        color: rgba(255, 255, 255, 0.4);
    }

}
//================================================ Section: "Contacts" ===================================

.contacts {
    .wrap {
        flex-wrap: wrap;
    }
    
    .title {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }

    &__info {
        margin-right: 100px;
        width: 300px;
    }
    
    &__logo {
        margin-left: 11px;
        margin-bottom: 71px;
    }

    &__adress, &__phone {
        margin-bottom: 40px;
    }

    .item {
        color: $blue;
        opacity: 0.6;
        
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
        &:hover {
            font-weight: 600;
        }
    }
    &__phones {
        background: url('../images/phone.svg');
        background-repeat: no-repeat;
        padding-left: 37px;
    }
    
    &__browsers, &__emails {
        padding-left: 38px;
    }
    &__browsers {
        background: url('../images/browser.svg');
        background-repeat: no-repeat;
        height: 20px;
    }

    &__emails {
        background: url('../images/email.svg');
        background-repeat: no-repeat;
    }

    &__form, .form, .links {
        flex-direction: column;
        align-items: stretch;
    }

    &__form {
        padding: 56px;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        .title {
            margin-bottom: 48px;
        }
    }

    //================================================ Form ===============================================
    .form{
        &__name, &__email, &__meessage {
            line-height: 30px;
            letter-spacing: 0.04em;
            color: $blue;
            opacity: 0.8;
            margin-bottom: 8px;
        }

        &__names, &__emails {
            padding: 21px 42px;
            margin-bottom: 32px;
        }
        
        &__names, &__emails, &__meessages {
            opacity: 0.4;
            border: 1px solid #356EAD;
            border-radius: 10px;
            min-width: 428px;
        }

        &__meessages {
            padding-top: 21px;
            padding-left: 36px;
            height: 144px;
        }
    }

    &__submit {
        background: #5A98D0;
        box-shadow: 5px 20px 50px rgba(16, 113, 177, 0.2);
        border-radius: 10px;
        text-align: center;
        padding: 23px 0;
        color: $white;
        border: none;
        margin-top: 72px;
        transition: all 0.4s;
        cursor: pointer;

        &:hover {
            background: #1070b1;
            box-shadow: 5px 20px 50px rgba(90, 152, 208, 0.2);
        }
    }

    &__map {
        width: 100%;
        margin: 96px 0;
    }
}


//================================================ Footer ================================================
.footer {
    position: relative;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    margin-right: 12px;
    
    .line {
        position: absolute;
        left: 0;
        width: 1073px;
        opacity: 0.4;
        border: 1px solid #FFFFFF;
    }
    
    &__team {
        padding-top: 91px;
        padding-bottom: 96px;
    }

    &__title {
        font-family: regularfont;
        font-size: 36px;
        line-height: 46px;
    
        letter-spacing: 0.05em;
    }

    &__paragraph {
        padding-top: 32px;
        font-family: normalfont;
    }

    &__light {
        text-align: center;
        letter-spacing: 0.04em;
        background: $lightblue;
        padding: 15px 74px;
        margin-left: 181px;
        width: 294px;
    }

    //================================================ Contacts ================================================

    &__contacts, &__contacts a, &__copyright {
        color: $white;
    }

    &__white, &__phone, .email, &__nav {
        font-family: normalfont;
    }

    &__phone:hover, .email:hover, &__nav:hover {
        font-weight: 600;
    }
    
    &__white, &__phone, .email, &__nav, .str {
        font-size: 16px;
        line-height: 26px;

        letter-spacing: 0.05em;
    }

    &__contacts {
        padding-top: 97px;
        padding-bottom: 64px;
    }
    
    &__transition {
        margin-left: 100px;
        margin-right: 77px;
    }

    &__logo {
        font-size: 28px;
        line-height: 46px;

        letter-spacing: 0.02em;
        margin-bottom: 33px;
    }

    &__logo>img, .str {
        padding-right: 16px;
    }

    &__adress, &__phones, &__email {
        margin-bottom: 24px;
    }

    &__white {
        width: 254px;
        color: $white;
        opacity: 100%;
    }
    
    .title-nav {
        font-size: 20px;
        line-height: 30px;

        letter-spacing: 0.05em;
        margin-bottom: 32px;
    }

    &__nav:not(:last-of-type), &__item:not(:last-of-type), 
    .header__nav:not(:last-of-type), .header__item:not(:last-of-type) {
        margin-bottom: 16px;
    }

    &__social, .social {
        flex-direction: column;
        align-items: stretch;
    }

    &__copyright {
        opacity: 0.4;
    }

}
//================================================ Adaptive ================================================

@media (max-width:1205px) {
    .about {
        &__title {
            margin-bottom: 0;
        }
            
        &__dscr {
            font-size: 18px;
            line-height: 28px;
        }
    }

}

@media (max-width:1155px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .contacts {
        &__info {
            margin-right: 0;
            margin-bottom: 50px;
        }
        .wrap {
            justify-content: center;
        }
    }

    .footer {
        .line {
            width: 875px;
        }
        &__light {
            margin-left: 114px;
            padding: 15px 70px;
        }
    }
}

@media (max-width:1024px) {
    .container {
        max-width: 724px;
    }

    .about {
        &__title {
            font-size: 36px;
        }

        &__dscr {
            font-size: 16px;
            line-height: 26px;
        }
    }

    .footer {
        &__container>.line {
            width: 600px;
        }       
        &__light {
            padding: 15px 55px;
            margin-left: 53px;
        }

        &__transition {
            margin-left: 73px;
            margin-right: 29px;
        }
    }

}

@media (max-width:944px) {
    .container {
        max-width: 600px;
    }
    .footer {
        .line {
            width: 780px;
        }    
        &__transition {
            margin-left: 15px;
            margin-right: 36px;
        }
        &__light {
            padding: 15px 43px;
            margin-left: 38px;
        }   
    }
}

@media (max-width:936px) {
    .about {
        &__dscr {
            font-size: 14px;
        }
    }
}
@media (max-width:876px) {
    .about {
        &__title {
            font-size: 34px;
            line-height: 48px;
        }
    }
}

@media (max-width:840px) {
    .container {
        max-width: 500px;
    }
    .contacts {
        &__form {
            padding: 56px 40px;
        }
    }
    .footer {
        &__transition {
                margin-left: 0;
                margin-right: 0;
            }
            
        &__contacts {
            flex-wrap: wrap;
            flex-direction: row;
        }

        &__light {
            margin-top: 20px;
            padding: 15px 48px;
            margin-left: 0;
            width: auto;
        }
        &__paragraph {
            padding-top: 0;
            margin-top: 32px;
        }        
        &__team {
            flex-direction: column;
        }

        &__team, &__contacts {
            align-items: start;
        }
    }
}

@media (max-width:825px) {
    .about {
        padding: 50px 244px;
        &__title {
            line-height: 54px;
        }
    }
    .footer {
        .line {
            width: 690px;
        }
    }
}

@media (max-width:747px) {
    .container {
        max-width: 400px;
    }

    .about {
        padding: 50px 204px;
    }
    .contacts {
        .form {
            &__names, &__emails, &__meessages {
                min-width: 320px;
            }
        }

    }
    .footer {
        .line {
            width: 606px;
        }
        &__transition {
            margin-right: 20px;
        }
    }
}

@media (max-width:658px) {
    .header__contain {
        margin: 40px 35px 42px;
    }
    .about {
        padding: 50px 174px;
    }
}

@media (max-width:629px) {
    .about {
        padding: 50px 152px;
    }

    .footer {
        .line {
            width: 500px;
        }
    }
}

@media (max-width:572px) {

    .header {
        &__logo {
            width: 32px;
        }
    }

    .about {
        padding: 50px 112px;
    }
}

@media (max-width:540px) {
    .about {
        padding: 50px 94px;
        &__title {
            font-size: 32px;
        }
    }

    .footer {
        .line {
            width: 440px;
        }
    }

}

@media (max-width:506px) {
    .container {
        max-width: 348px;
    }
    .contacts {
        .form {
            &__names, &__emails, &__meessages {
                min-width: 268px;
            }
        }
    }
}

@media (max-width:464px) {
    .about {
        padding: 50px 70px
    }
    .footer {
        .line {
            width: 370px;
        }
    }      
}

@media (max-width:420px) {
    .container {
        max-width: 300px;
    }

    .about {
        padding: 50px 52px;
        &__title {
            font-size: 30px;
        }
        &__dscr {
            font-size: 13px;
        }
    }
    .contacts {
        .title {
            font-size: 18px;
        }

        .links {
            font-size: 14px;
        }
        
        &__form {
            padding: 56px 29px;
        }
        
        .form {        
            &__names, &__emails, &__meessages {
                min-width: 241px;
            }

            &__names, &__emails, &__meessages,
            &__name, &__email, &__meessage {
                font-size: 14px;
            }
        }
    }
    .footer {
        .line {
            width: 325px;
        }
        
        &__logo>img {
            width: 50px;
        }

        &__title {
            font-size: 26px;
        }
        &__logo {
            font-size: 26px;
            line-height: 44px;
        }
        &__light {
            font-size: 14px;
            line-height: 24px;
        }
        &__white {
            margin-bottom: 0;
        }
        &__white, &__phone, & .email, &__nav, & .str {
            font-size: 14px;
            line-height: 24px;
        } 
    } 
}

@media (max-width:400px) {
    .about {
        padding: 50px 27px;
    }
    .contatcs{
        &__form {
            padding: 56px 28px;
        }

    }
    
    .footer {
        .line {
            width: 286px;
        }
        &__title {
            font-size: 24px;
        }
        
        &__transition {
            margin-right: 0;
        }

        &__contacts {
            flex-direction: column;
            align-items: stretch;
        }

        &__social {
            margin-top: 20px;
        }

        .title-nav {
            font-size: 18px;
            line-height: 28px;
        }

        &__copyright {
            font-size: 14px;
        }
    }
}

@media (max-width:320px) {
    .paragraph {
        font-size: 14px;
    }
    .contacts {
        margin: 0 34px;

        &__logo {
            width: 250px;
        }

        .item {
            height: 20px;
        }
    }
    .footer>.container {
        padding: 0 34px;
    }
}
