@font-face {
    font-family: blackfont;
    src: url("../fonts/Gilroy-Black.woff") format("truetype");
}

@font-face {
    font-family: galienfont;
    src: url("../fonts/Galien-Bold.ttf") format("truetype");
}

@font-face {
    font-family: regularfont;
    src: url("../fonts/Gilroy-Regular.woff") format("truetype");
}

@font-face {
    font-family: italicfont;
    src: url('../fonts/Gilroy-RegularItalic.woff') format("truetype");
}

@font-face {
    font-family: normalfont;
    src: url('../fonts/Gilroy-Light.woff') format("truetype");
}