@import 'normalize.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regularfont;
}

a {
  text-decoration: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-areas: "title content-one" "content-two content-one" "content-two content-three" ". content-three";
  grid-template-columns: 458px 380px;
  gap: 100px 100px;
  grid-auto-rows: 200px;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.btn {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 15px 48px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  padding-top: 51px;
}

.blocks {
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 0 48px 48px;
  flex-direction: column;
}

.small {
  width: 284px;
  padding: 16px 0 32px;
}

.imgs {
  position: absolute;
  top: -23px;
  left: 60px;
}

.whatwedo, .about, .project, .client {
  padding: 0 213px;
}

.dscr {
  width: 603px;
  padding-left: 93px;
}

.white {
  color: white;
}

.header__contain {
  margin: 40px 83px 101px;
  justify-content: space-between;
}
.header__burger {
  background: transparent;
  position: relative;
  border: 0;
  width: 24px;
  height: 14px;
  transition: all 0.5s ease 0s;
  z-index: 1;
}
.header__burger span {
  position: absolute;
  background-color: #0E6097;
  left: 0;
  width: 100%;
  height: 3px;
  top: 6px;
  transition: all 0.5s ease 0s;
}
.header__burger:before, .header__burger:after {
  content: "";
  background-color: #0E6097;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.header__burger:before {
  background-color: #0E6097;
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 17px;
  transition: all 0.5s ease 0s;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
  transition: all 0.5s ease 0s;
}
.header__burger.active span {
  transform: scale(0);
}
.header__subnav {
  display: none;
}

.about {
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  position: relative;
  height: 667px;
  margin-bottom: 191px;
}
.about__content {
  width: 512px;
}
.about__title {
  font-family: galienfont;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
.about__paragraph {
  margin-top: 32px;
  margin-bottom: 71px;
  width: 425px;
}
.about__dark {
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
.about__ilustration {
  position: absolute;
  top: -17px;
  right: 15px;
}

.whatwedo__info {
  padding-top: 156px;
}
.whatwedo__light {
  color: #316099;
  grid-area: title;
  width: 368px;
}
.whatwedo__more {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  padding-right: 28px;
}
.whatwedo__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}
.whatwedo__tecnology, .whatwedo__business, .whatwedo__digital {
  position: relative;
}
.whatwedo__tecnology {
  grid-area: content-one;
}
.whatwedo__business {
  grid-area: content-two;
  margin-left: 78px;
}
.whatwedo .paragraph-dscr {
  padding: 16px 0 32px;
}
.whatwedo__business > .imgs, .whatwedo__digital > .imgs {
  top: 35px;
  left: 70px;
}
.whatwedo__digital {
  grid-area: content-three;
}

.project {
  margin-top: 192px;
}
.project__block {
  margin-bottom: 96px;
}
.project__dark {
  color: #1F3F68;
  width: 277px;
}
.project__slider {
  margin-bottom: 192px;
}
.project__slider .slider__slide-one {
  position: relative;
  background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%), url("../images/alberto-castillo-q-mx4mSkK9zeo-unsplash.jpg");
  background-repeat: no-repeat;
  padding: 48px 48px 0 0;
  height: 417px;
  text-align: right;
  margin-bottom: 90px;
}
.project__slider .slider__slide-two, .project__slider .slider__slide-three {
  width: 422px;
  height: 417px;
}
.project__slider .slider__slide-two, .project__slider .slider__slide-three {
  padding-top: 24px;
  padding-left: 32px;
}
.project__slider .slider__slide-two {
  background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%), url("../images/Dribble iphonex mockup.jpg");
}
.project__slider .slider__slide-three {
  margin-left: 96px;
  background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%), url("../images/upload.jpg");
}
.project__slider .slide {
  border-radius: 10px;
  color: #FFFFFF;
}
.project__slider .slide__home {
  position: absolute;
  left: 0;
  bottom: 0;
}
.project__slider .slide__title {
  font-size: 28px;
}
.project__slider .slide .position-right {
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.project__slider .slide__subtitle, .project__slider .slide .subtitle-two {
  font-family: normalfont;
}
.project__slider .slide__subtitle {
  font-size: 16px;
  line-height: 46px;
}
.project__slider .slide .position-std {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
}
.project__slider .slide .subtitle-two {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.footer {
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
}
.footer__jaw {
  padding-top: 96px;
}
.footer__dscr {
  color: white;
  opacity: 0.6;
}
.footer__logotypes {
  flex-wrap: wrap;
  margin: 111px 213px 0;
}
.footer__wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 943px;
  background-color: #9CC1E3;
  margin-top: 125px;
  margin-bottom: 125px;
}
.footer .logotypes {
  justify-content: center;
  min-width: 235px;
  height: 128px;
  background-color: #5A98D0;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F2F2F2;
}
.footer .logotypes:nth-child(-n+4) {
  border-bottom: 1px solid #9CC1E3;
}
.footer__more {
  min-width: 235px;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: white;
  background: #4E86BB;
  padding: 41px 62px;
}
.footer__last-block {
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  margin-right: 96px;
}
@font-face {
  font-family: blackfont;
  src: url("../fonts/Gilroy/Gilroy-Black.woff") format("truetype");
}
@font-face {
  font-family: galienfont;
  src: url("../fonts/Galien/TTF/Galien-Bold.ttf") format("truetype");
}
@font-face {
  font-family: regularfont;
  src: url("../fonts/Gilroy/Gilroy-Regular.woff") format("truetype");
}
@font-face {
  font-family: italicfont;
  src: url("../fonts/Gilroy/Gilroy-RegularItalic.woff") format("truetype");
}
@font-face {
  font-family: normalfont;
  src: url("../fonts/Gilroy/Gilroy-Light.woff") format("truetype");
}

/*# sourceMappingURL=style.css.map */
